# List Comprehension

In [4]:
words = ['these', 'are', 'our', 'words']

We have an _iterable_ which is a list named “words”. We can use **list comprehension** to create a list that contains the length of the words.

In [5]:
[len(i) for i in words]
# notation for list comprehension:expression for item in iterable

[5, 3, 3, 5]

# Dictionary Comprehension

In **dictionary comprehension**, we need to specify both keys and values based on the iteration. The returned dictionary contains the words as keys and their length as values.

In [7]:
# expression for key, value in iterable
{i: len(i) for i in words}

{'these': 5, 'are': 3, 'our': 3, 'words': 5}

In [8]:
# don't change this block 

car_specs = {
    "Grand Cherokee": {
        "company": "Jeep",
        "current_price": 32795,
        "class": ["midsize", "crossover"],
        "type": "SUV",
        "year": 1993,
    },
    "Ridgeline": {
        "company": "Honda",
        "current_price": 33900,
        "class": ["midsize", "4-door", "pickup"],
        "type": "truck",
        "year": 2006,
    },
    "Xterra": {
        "company": "Nissan",
        "current_price": 24000,
        "class": ["compact", "5-door"],
        "type": "SUV",
        "year": 1999,
    },
    "4Runner": {
        "company": "Toyota",
        "current_price": 36590,
        "class": ["midsize", "compact"],
        "type": "SUV",
        "year": 1984,
    },
    "Outback": {
        "company": "Subaru",
        "current_price": 26795,
        "class": ["all-wheel drive", "wagon"],
        "type": "SUV",
        "year": 1994,
    },
}

In [9]:
sum1 = sum(item['current_price'] for item in car_specs.values())
print((sum1)/len(car_specs.values()))

30816.0